.amazonPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amazonPageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    height: 100vh;
    background: black;
}



.amazonPageCard {
    display: flex;
    flex-direction: column;
    width: 72%;
    justify-content: center;
}

.amazonCardContent {
    display: flex;
    border: 3px solid;
    border-radius: 5px;
    box-shadow: inset 0 0 0.5em hsl(217deg 74% 51%), 0 0 0.5em hsl(217deg 16% 91%);
}

.amazonCardImage {
    width: 60%;
    height: 100%;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.amazonStack ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    color:white

}

.amazonStack ul li {
    margin: 3px;

}

.amazonCardInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.amazonLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.amazon_Link {
    color: white;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: gray;
    padding: 10px;
}

.amazonPageTitle {

    background: transparent;
    border-radius: 5px;
    border: currentColor 1px solid;
    width: 50%;
    font-size: 22px;
    justify-self: center;
    align-self: center;
    margin-bottom: 48px;
    text-shadow: -1px 2px 2px currentColor, -2px 1px 0.2px black;
    box-shadow: inset 0 0 0.5em hsl(349deg 74% 51%), 0 0 0.5em hsl(217deg 74% 51%);
    position: relative;
    color: hsl(349, 100%, 61%)
}

.amazonPageTitle::before {
    content: "";
    position: absolute;
    background: hsl(349deg 74% 51%);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1rem) rotateX(6deg) scale(1, 0.35);
    filter: blur(2rem);
}





@media (max-width:1100px) {
    .amazonCardContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .amazonCardImage {
        width: 100%;
        height: 100%;
    }

    .amazonCardInfo {
        display: flex;
        flex-direction: column;
        width: 77%;
    }
}



@media (max-width:604px) {

    .amazonPageTitle {
        font-size: smaller;
    }

    .amazonStack span {
        font-size: smaller;
    }

    .amazonStack ul li {
        margin: 3px;
        font-size: x-small
    }

    p {
        font-size: x-small
    }

    a {
        font-size: x-small
    }

}