.banner{
height: 100vh;
width: 100%;
position: relative;
background: url("https://images.ctfassets.net/e5mq1t8pfsum/4p8EhNzZvW2el1LFw0079E/1ae7a3f947c5aa6bc193466f4b0dfbb3/Webp.net-resizeimage__10_.jpg?w=720&fm=jpg&fl=progressive") no-repeat;
background-size: cover;
background-position: center;
/* margin-top: -24px; */
margin-bottom: -50px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.containers{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row ;
   
}
.description{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 
color: white;
}
.left{
width: 60%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.right button {
    margin: 0;
    width: 100%;
    height: auto;
    margin-left: 0;
    background: none
}
.profiles {
border-color: #0d6efd;
}
.right{
 
width: 40%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.right button{
    width: 30%;
    height: 6%;
}
a{
    color: white;
    text-decoration: none;
}
.profile{
    margin-left: "-35%";
    border-radius: 6px;
    border: 1px solid rgba(17, 49, 211, 0.126);
}
.left_content{
        color: #a9b6ed;
         width: 500px;
    }
.btn .btn-info.Resume{margin-left: "-35%"; background: "none"}
.profile{margin-left: "-12%";background: "none"}

.Github{margin-left: "-12%";background: "none"}
.LinkedIn {margin-left: "-35%";background: "none"}
@media (max-width: 700px) {
.containers{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    .left{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
    }
.right{
        align-items: center;
            margin: auto;
}
    .right button {
        margin: 0;
        width: 100%;
        height: auto;
        margin-left: 0;
        background:none
    }
.Resume{
        margin-left: 0;
    }
.profiles{
border-color: #0d6efd;;
}
.left_content {
    color: #a9b6ed;
    width: 100%;
}
   
}