.section{
    padding: 100px;
    min-height: 100vh;
 
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar{
    position: absolute;
    top: 0; 
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .imgSidebar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .contentBx{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

}   

.logoText{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px; 
    background-color: #333;
    color: #fff;
    padding: 0.05px   ;
}

.banner .contentBx h4{
    font-size: 1.5em; 
    color: #333;
    font-weight: 300;
}

.banner .contentBx h4 span{
    color: #00bcd4;
    font-size: 1.5em;
    font-weight: 700;
}

.banner .contentBx h2{
    font-size: 3em;
    color: #333;
}

p{
    font-size: 1.1em;
    margin: 20px 0 ;
    font-weight: 300;
}

.btn{
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight:500;
    letter-spacing: 2px;
}

.sci{
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    margin-right: 10px;
    list-style: none;
}

.sci li img{
    transform: scale(0.5);
    opacity: 0.7;
}

.sci li img:hover{
    transform: scale(1);
    opacity: 0.7;  

}