.sidebar{
    position: relative;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
}

.sidebar{
    position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 500px);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        right: -100%;
}

.sidebar.active{
    right: 0;
}

.sidebar ul{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;   
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase; 

}

.sidebar ul li a:hover{
    color:#00bcd4;
}


@media (max-width: 991px) {
   

    .sidebar {
        width: 100%;
    }
}