.work{
  margin-top: 50px;
} 
.nav_bar_container button{
      position: absolute;
        z-index: 1;
}

.work_title{
  border-bottom: 2px solid;
}
.project{
  display: flex;
}
.projectImage{
  height: 100%;
    width: 100%;
    object-fit: cover;
  }

.left{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 50%;
  height: 100%;
     
}
.middle{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
top:34px;
left:0;
width: 100%;
height: 93%;
flex-wrap: wrap;
position: absolute;
background-color: rgba(0,0,0,0.7);
color: #ffffff;
opacity: 0;
transition: opacity 0.35s;
cursor: pointer;
        }

.middle:hover{
  opacity: 1;
}
.middleContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center; 

}
middleContentLinks{
padding-bottom: 3px;
}
.middleContent p{
  width: 100%;
}

.middleContent_P{
  color: white;
  margin: 0;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -10%;
  visibility: hidden;
  animation: ease-in 1s;
  transition:2s;
}


.visible{
  visibility: visible;
  transition: 2ms;
  animation: ease-in-out;
}



 .Dark{
  background: black;
  color: #ffffff;
 }
 .Light{
  color: black;
 }
 .work_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
 }
.navbar{
  width: 100%;
 position: relative;
 top: 39px;
}
.nav_bar_container{
  margin-top: -46px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.work_container{
  color: black;
 
}
 


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }

}

@media(max-width: 1000px) {

  .middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 34px;
    left: 0;
    width: 100%;
    height: 109%;
    flex-wrap: wrap;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
  
    transition: opacity 0.35s;
    cursor: pointer;
  }

  .middleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .middleContent h2 {
    margin-top: -49px;
  }

  .middleContent_P{
    width: 100%;
      color: white;
      margin: 0;
  }

  .middelContentLinks {
    display: flex;
    padding-bottom: 12px;
    justify-content: space-around;
  }

}

@media (min-width:810px) {
  .rightSecond {
      text-align: end;
      text-align: center;
      justify-content: end;
      margin-left: 145px;
    }
}

@media (max-width:800px ) {
  .middleContent h2{
    font-size: unset;
    text-decoration: underline;
    padding-bottom: 2px;
  }
.middleContentLinks{
  font-size: small;
}
.middleContent_P {
  margin-top: -15px;
  padding: 0;
 font-size: small;
    }
.projectButton{
  font-size: small;
}

}

@keyframes SlideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }

}
/* https: //discord-clone-f4d6f.firebaseapp.com/ */

/* https: //airbnb-clone-bd9ea.firebaseapp.com/ */