.work{
  margin-top: 50px;
} 
.nav_bar_container button{
   margin-bottom: 80px;
}

       
 .Dark{
  background: black;
  color: #ffffff;
 }
 .Light{
  color: black;
 }
 .work_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.navbar{
  width: 100%;
 position: relative;
 top: 39px;
}
.nav_bar_container{
  margin-top: -46px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.work_container{
  color: black;
  display: flex;
  flex-direction: column;
}
.project{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}
.left{
      display: flex;
        flex-direction: column;
        width: 50%;
}
.right{
  display: flex;
    flex-direction: column;
    width: 40%;
}

.right p{
    width: 75%;
    }

.middle ul{
  display: flex;
}
.middle ul> li{
  list-style: none;
  margin-right: 5px;
}
@media (max-width:810px ) {
  .project{
    flex-direction: column;
    border-bottom: 1px solid gray;
    flex-direction: column-reverse;
  }
 .left {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
 }

 .right{
  align-items: center;
  width: auto;
 }


}
/* https: //discord-clone-f4d6f.firebaseapp.com/ */

/* https: //airbnb-clone-bd9ea.firebaseapp.com/ */