.work{
  margin-top: 50px;
} 
.nav_bar_container button{
   margin-bottom: 80px;
}

.work_title{
  border-bottom: 2px solid;
}
 .Dark{
  background: black;
  color: #ffffff;
 }
 .Light{
  color: black;
 }
 .work_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.navbar{
  width: 100%;
 position: relative;
 top: 39px;
}
.nav_bar_container{
  margin-top: -46px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.work_container{
  color: black;
  display: flex;
  flex-direction: column;
}
.project{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}
.left{
      display: flex;
        flex-direction: column;
        width: 50%;
            align-items: center;
}
.right{
  display: flex;
    flex-direction: column;
    width: 40%;
    
}
 
.right p{
    width: 75%;
    }

.middle ul{
  display: flex;
}
.middle ul> li{
  list-style: none;
  margin-right: 5px;
}

.project:nth-child(2){
  flex-direction: row-reverse;
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }

}

@media (min-width:810px) {
  .rightSecond {
      text-align: end;
      text-align: center;
      justify-content: end;
      margin-left: 145px;
    }
}

@media (max-width:810px ) {
  .project{
    flex-direction: column;
    border-bottom: 1px solid gray;
    flex-direction: column;
  }

  .project:nth-child(2){
      flex-direction: column;
        border-bottom: 1px solid gray;
        flex-direction: column;
  }

 .left {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
 }

 .right{
  align-items: center;
width: 63% !important;
 }


}

@keyframes SlideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }

}
/* https: //discord-clone-f4d6f.firebaseapp.com/ */

/* https: //airbnb-clone-bd9ea.firebaseapp.com/ */